.purchases {
    background-color: darkgray;
    padding: 20px 20px 10px 20px;
}

.purchases .purchase {
    border: 1px solid snow;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px auto;
    max-width: 600px;
}


.purchases .purchase .purchase-title {
    background-color: aqua;
    border-radius: 6px 0 0 6px;
    padding: 10px;
    flex: 2;
}

.purchases .purchase .purchase-quantity {
    display: flex;
    gap: 3px;
    background-color: antiquewhite;
    padding: 10px;
    flex: 2;
    justify-content: center;
}

.purchases .purchase .purchase-actions {
    background-color: greenyellow;
    border-radius: 0 6px 6px 0;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.purchases .purchase .purchase-actions .hide {
    display: none;
}